*
{
    margin:0px;
    padding:0px;
}
body{
   width:100%;
   height:100vh;
   background-color: aqua;
}
header{
    padding: 20px;
    width:100%;
    height:10%;
    background-color: beige;
    border:2px solid black;
    align-items: center;
    display:flex;
    position: fixed;
    justify-content: space-between;
}
header p
{
    margin-left:10px;
    padding-left: 10px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;

}
ul,a{
    list-style-type: none;
    text-decoration:none;
}
.nav li{
    display: inline;
    padding:10px;
}
button
{
    
    text-transform: uppercase;
    font-weight: 400;
    border:2px solid double black;
    border-radius:6px ;
}

.main
{
    width:100%;
    height:100vh;
    display:flex;
    padding-top:10%;
    background-color: beige;
    
}
#first
{
    margin: 2%;
    background-color: black;
    width:25%;
    height:70vh;
    border:2px solid balck;
    border-radius: 50%;
}
img{
    margin-left:1%;
    width:98%;
    height:70vh;
    border-radius: 50%;
}
#second
{
width:70%;
margin:3%;
padding:2%;
text-align: justify;
padding-left:20%;
    align-items: center;
}
#bi,#si
{
    padding-top:10%;
}
#bio
{
    height:100vh;
    width:100%;
    display:flex;
    justify-content: space-evenly;
    padding-top: 1%;
    

    
}
.p
{
    width:20%;
    height:50vh;
    border:2px solid black;
    padding:1%;
    background-color: beige;

}
.c
{
    text-align: center;
    display:inline-block;
    padding:2%;

}
.sk
{
    width:100%;
    height:100vh;
    background-color: white;
    display: flex;
    justify-content: space-around;
    margin-top:2%;
}
.le ul,.ri ul{
    padding-top:2%;

}
.le li,.ri li{
    padding:20%;
    display: flex;
    
}
#div
{
    padding:6%;

}
